body {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}
.title h1{
    font-family: 'Gill Sans', Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
    font-weight: normal;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
}
.table{
    display: flex;
}
.table-people{
    display: flex;
    width: 50%;
    height: 200px;
    justify-content: center;
    background-color: lightcoral;
    margin: 50px 20px 0 20px;
}
.table-computer{
    display: flex;
    width: 50%;
    height: 200px;
    justify-content: center;
    background-color: lightblue;
    margin: 50px 20px 0 20px;
}
.hand{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hand img:hover{
    opacity: 1;
}
.hand img{
    width: auto;
    height: 100px;
    opacity: .2 ;
    cursor: pointer;
}
.score span{
    font-size: 2rem;
}
.winner{
    font-family: 'Gill Sans', Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
    font-weight: normal;
    font-size: 2rem;
    margin: 20px 0 0 20px;
}

@media (max-width:768px) and (min-width: 320px) {
    .table{
        flex-direction: column;
    }
    .table-people, .table-computer {
        width: 100%;
       
    }
}