body {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 80%;
}
.title h1{
    font-family: 'Play', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
}
.table{
    display: flex;
}
.table-people{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    background-color: lightcoral;
    margin: 50px 10px 0px 0px;
}
.table-people span{
    font-family: 'Play', sans-serif;
    font-size: 1.5rem;
}
.table-computer{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    background-color: lightblue;
    margin: 50px 0px 0px 0px;
}
.hand-people, .hand-computer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hand-people img:hover{
    opacity: 1;
}
.hand-people img{
    width: auto;
    height: 100px;
    opacity: .2 ;
    cursor: pointer;
}
.hand-computer img:hover{
    opacity: 1;
}
.hand-computer img{
    width: auto;
    height: 100px;
    cursor: no-drop;
}
.score span{
    font-family: 'Play', sans-serif;
    font-size: 1.5rem;   
}
.winner{
    text-align: center;
    font-family: 'Play', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    margin: 20px 0 0 20px;
}

@media (max-width:768px) and (min-width: 320px) {
    .table{
        flex-direction: column;
    }
    .table-people, .table-computer {
        width: 100%;
        margin-bottom: 10px;
    }
    main{
        width: 100%;
    }
    .winner{
        margin: 0;
    }
}